<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
            <NotAuthorized>
                <h1>Você não acesso a essa funcionalidade</h1>
            </NotAuthorized>
        </AuthorizeRouteView>
        @* <FocusOnNavigate RouteData="@routeData" Selector="h1" /> *@
    </Found>
    <NotFound>
        <PageTitle>Não encontrado</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <h1>Erro 404</h1>
            <p role="alert">Desculpe, nada foi enontrado nesse endereço.</p>
        </LayoutView>
    </NotFound>
</Router>

</CascadingAuthenticationState>